:root {
    --grid-cols: 12;
    --grid-gap-h: 3.4rem;
    --grid-gap-v: 3.4rem;
}

// **Rules
@mixin ccg($var) {
    // Framework
    .#{$var}ccg {
        grid-gap: var(--grid-gap-v) var(--grid-gap-h);
        grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
    }
    .#{$var}ccg- {
        @for $cols from 1 to 12 {
            &#{$cols*3} {
                --grid-cols: #{$cols*3};
            }
        }
    }
    // Items
    .#{$var}ccg- {
        @for $start from -1 to 36 {
            @for $end from -1 to 36 {
                &#{$start}-#{$end} {
                    grid-column: #{$start}/#{$end};
                }
            }
        }
    }
}

// Media Worker
$list: #{'s'+'\\'+':'} 'and (max-width: #{$media-s})',
#{'sm'+'\\'+':'} 'and (min-width: #{$media-sm})',
#{'m'+'\\'+':'} 'and (min-width: #{$media-m})',
#{'ml'+'\\'+':'} 'and (min-width: #{$media-ml})',
#{'l'+'\\'+':'} 'and (min-width: #{$media-l})',
'' '';
@each $class,
$media in $list {
    @media screen #{$media} {
        @include ccg($class);
    }
}