$align:("normal", "auto", "stretch", "center", "start", "end", "flex-start", "flex-end", "self-start", "self-end", "baseline");
$justify:("normal", "center", "start", "end", "flex-start", "flex-end", "self-start", "self-end", "left", "right", "baseline", "space-between", "space-around", "space-evenly", "stretch", "auto");
$flow:("nowrap", "wrap", "wrap-reverse", "row", "row-reverse", "column", "column-reverse");
@mixin flex($var) {
    .#{$var}flex {
        display: flex;
        // align
        @each $name in $align {
            &-ai-#{$name} {
                align-items: #{$name};
            }
            &-as-#{$name} {
                align-self: #{$name};
            }
            &-ac-#{$name} {
                align-content: #{$name};
            }
        }
        // justify
        @each $name in $justify {
            &-juc-#{$name} {
                justify-content: #{$name};
            }
            &-jus-#{$name} {
                justify-self: #{$name};
            }
            &-jui-#{$name} {
                justify-items: #{$name};
            }
        }
        // flow
        @each $name in $flow {
            &-ffw-#{$name} {
                flex-flow: #{$name};
            }
        }
    }
}

// Media Worker
$list: #{'s'+'\\'+':'} 'and (max-width: #{$media-s})',
#{'sm'+'\\'+':'} 'and (min-width: #{$media-sm})',
#{'m'+'\\'+':'} 'and (min-width: #{$media-m})',
#{'ml'+'\\'+':'} 'and (min-width: #{$media-ml})',
#{'l'+'\\'+':'} 'and (min-width: #{$media-l})',
'' '';
@each $class,
$media in $list {
    @media screen #{$media} {
        @include flex($class);
    }
}