$overflow:("visible", "hidden", "clip", "scroll", "auto");
@mixin overflow($class) {
    .#{$class}overflow {
        @each $var in $overflow {
            &-#{$var} {
                overflow: #{$var};
            }
        }
    }
}

// Media Worker
$media-worker:'' '',
#{'s'+'\\'+':'} 'and (max-width: #{$media-s})',
#{'sm'+'\\'+':'} 'and (min-width: #{$media-sm})',
#{'m'+'\\'+':'} 'and (min-width: #{$media-m})',
#{'ml'+'\\'+':'} 'and (min-width: #{$media-ml})',
#{'l'+'\\'+':'} 'and (min-width: #{$media-l})';
@each $class,
$media in $media-worker {
    @media screen #{$media} {
        @include overflow($class);
    }
}