@mixin overflow($class) {
    .#{$class}overflow {
        $overflow: "visible", "hidden", "clip", "scroll", "auto";
        @each $var in $overflow {
            &-#{$var} {
                overflow: #{$var};
            }
        }
    }
}

// Media Worker
$list: #{'s'+'\\'+':'} 'and (max-width: #{$media-s})',
#{'sm'+'\\'+':'} 'and (min-width: #{$media-sm})',
#{'m'+'\\'+':'} 'and (min-width: #{$media-m})',
#{'ml'+'\\'+':'} 'and (min-width: #{$media-ml})',
#{'l'+'\\'+':'} 'and (min-width: #{$media-l})',
'' '';
@each $class,
$media in $list {
    @media screen #{$media} {
        @include overflow($class);
    }
}