@import 'variables';
@import 'color-system'; //things baseic color 強制控制色彩。物件會有基準色彩，使用class去強行更改基準色彩。HLS color system. custom color system.
@import 'gcg';
@import 'ccg';
@import 'flex';
@import 'margin';
@import 'font';
@import 'z-index';
@import 'border';
@import 'overflow';
@import 'position-display';
@import 'color-control';
@import 'height-width';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
}

body {
    background-color: var(--on-base-color);
    color: var(--base-color);
}

::selection {
    color: var(--on-base-color);
    background-color: var(--base-color);
}

// hover:color-a to color-b variable
// letter-space，目前只可使用變數自訂。
// 變數名稱不方便
// 我們要講什麼故事？重點，放大它。(聚焦單一主題)